##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## extendedAuthenticationFlows - collection of "extended" AuthenticationFlowDescriptor objects
## passwordPrincipals - contents of the shibboleth.authn.Password.PrincipalOverride bean
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($passwordEnabled = false)
#if (!$passwordPrincipals or $passwordPrincipals.isEmpty() or $authenticationContext.isAcceptable($passwordPrincipals))
  #set ($passwordEnabled = true)
#end
##
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
        <link rel="shortcut icon" href="https://idp.access-ci.org/idp/images/favicon.ico">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="$request.getContextPath()/js/lower.js" type="text/javascript"></script>
    </head>
    <body onload="document.getElementById('username').focus()">
    <div id="universal-menus" style="min-height:48px"></div>
    <script type="module">
      import { universalMenus } from "https://esm.sh/@access-ci/ui";
      universalMenus({
        target: document.getElementById("universal-menus"),
      });
    </script>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>

        <div class="content">
          <div class="column one">
            <p class="description">
              If you had an XSEDE account, please enter your XSEDE username and
              password for ACCESS login.
            </p>

            #parse("login-error.vm")

            <form action="$flowExecutionUrl" method="post">
            #parse("csrf/csrf.vm")
            #set ($serviceName = $rpUIContext.serviceName)
            #if ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
              <legend>
                #springMessageText("idp.login.loginTo", "Login to") $encoder.encodeForHTML($serviceName)
              </legend>
            #end
                        
            #if ($passwordEnabled)
              <div class="form-element-wrapper">
                <label for="username">#springMessageText("idp.login.username", "Username")</label>
                <input class="form-element form-field lower" id="username" name="j_username" type="text"
                    value="#if($username)$encoder.encodeForHTML($username)#end"
                    oninput="lowerCaseF(this)"/>
              </div>

              <div class="form-element-wrapper">
                <label for="password">#springMessageText("idp.login.password", "Password")</label>
                <input class="form-element form-field" id="password" name="j_password" type="password" value="" />
              </div>

<!--
              ## You may need to modify this to taste, such as changing the flow name its checking for to authn/MFA.
              #if (!$authenticationContext.getActiveResults().containsKey('authn/Password'))
              <div class="form-element-wrapper">
                <input type="checkbox" name="donotcache" value="1" id="donotcache">
                <label for="donotcache">#springMessageText("idp.login.donotcache", "Don't Remember Login")</label>
              </div>
              #end
-->
              
            #end

            #if ($passwordEnabled)
              <div class="form-element-wrapper">
                <button class="form-element form-button" type="submit" name="_eventId_proceed"
                    onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Logging in, please wait...")'"
                    >#springMessageText("idp.login.login", "Login")</button>
              </div>
            #end

            #foreach ($extFlow in $extendedAuthenticationFlows)
              #if ($authenticationContext.isAcceptable($extFlow) and $extFlow.apply(profileRequestContext))
                <div class="form-element-wrapper">
                  <button class="form-element form-button" type="submit" name="_eventId_$extFlow.getId()">
                    #springMessageText("idp.login.$extFlow.getId().replace('authn/','')", $extFlow.getId().replace('authn/',''))
                  </button>
                </div>
              #end
            #end
            </form>

          </div>

          <div class="column two">
            #*
              //
              //    SP Description & Logo (optional)
              //    These idpui lines will display added information (if available
              //    in the metadata) about the Service Provider (SP) that requested
              //    authentication. These idpui lines are "active" in this example
              //    (not commented out) - this extra SP info will be displayed.
              //    Remove or comment out these lines to stop the display of the
              //    added SP information.
              //
            *#
            <ul class="list list-help">
              <li class="list-help-item"><a href="https://identity.access-ci.org/new-user" target="_blank">Register for an ACCESS ID</a></li>
              #if ($passwordEnabled)
              <li class="list-help-item"><a href="#springMessageText("idp.url.password.reset", '#')" target="_blank">#springMessageText("idp.login.forgotPassword", "Reset your ACCESS password")</a></li>
              #end
              <li class="list-help-item"><a href="#springMessageText("idp.url.helpdesk", '#')" target="_blank">#springMessageText("idp.login.needHelp", "Other ACCESS ID questions")</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
   </body>
</html>
